#area {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    max-width: 100%;
    padding: 20px; 
}
#area img {
    max-width: 100%;
}
#range {
    width: 100%;
    justify-content: center;
    display: none;
    margin: 22px 0;
}
#p {
    line-height: 3;
   }
#M {
   color: #1E90FF	; 
  
}
#G {
   color: yellow; 

}
#S{
   color: Blue; 

}
